@model ContactHomeViewModel

  <!-- Page Header -->
<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form method="post" novalidate>
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        @Html.LabelFor(p => p.Name, "Name")
                        @Html.TextBoxFor(p => p.Name, new { @class= "form-control", placeholder = "Name" })
                        @Html.ValidationMessageFor(p => p.Name)
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        @Html.LabelFor(p => p.Email, "Email")
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(p => p.Email)
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        @Html.LabelFor(p => p.Number, "Number")
                        @Html.TextBoxFor(p => p.Number, new { @class = "form-control", placeholder = "Number" })
                        @Html.ValidationMessageFor(p => p.Number)
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        @Html.LabelFor(p => p.Message, "Message")
                        @Html.TextBoxFor(p => p.Message, new { @class = "form-control", placeholder = "Message" })
                        @Html.ValidationMessageFor(p => p.Message)
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>