@model CreateHomeViewModel

  <!-- Page Header -->
<header class="masthead" style="background-image: url('/img/post-sample-image.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Create Post</h1>
                    <span class="subheading">Create a Blog Post.</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <form method="post" >
            <div class="form-group">
                @Html.LabelFor(p => p.Title, "Title")
                @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Title" })
                @Html.ValidationMessageFor(p => p.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Body, "Body")
                @Html.TextBoxFor(p => p.Body, new { @class = "form-control", placeholder = "Body" })
                @Html.ValidationMessageFor(p => p.Body)
            </div>

            <div class="form-check m-4">
                @Html.CheckBoxFor(p => p.Published, new { @class = "form-check-input", @checked="true"})
                @Html.LabelFor(p => p.Published, "Publish ? ", new { @class = "form-check-label" })
                @Html.ValidationMessageFor(p => p.Published)
            </div>

            <div class="form-group">
                <input type="file" name="Image" class="form-control pb-5 pt-3" />
                @Html.ValidationMessageFor(p => p.Image)
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>