@model CreateHomeViewModel

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/post-sample-image.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Post Details</h1>
                    <span class="subheading">Blog Post Details</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="block">
        <div class="row">
            <div class="span4">
                <div class="container-fluid mb-5">
                    <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid" />
                </div>
                <div class="content-heading"><h3>@Model.Title &nbsp </h3></div>
                <p class="post-meta">
                    Date Created => @Model.DateCreated, Date Updated =>
                    @if (Model.DateUpdated.HasValue)
                    {
                        @Model.DateUpdated.ToString()
                    }
                    else
                    {
                        <text>never</text>
                    }
                </p>
                <p>@Html.Raw(Model.Body)</p>
            </div>
            @if (Model.Comments.Any())
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Comments</h2>
                        </div>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="col-md-10">
                                @*<p class="text-muted">@comment.User.UserName</p>*@
                                <p class="text-info">
                                    <span>
                                        @comment.Body
                                    </span>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <span class="ml-4">
                                            @Html.ActionLink("Edit ", "EditComment", "Home", new { id = comment.Id }, new { @class = "text-warning" })
                                        </span>
                                        <span class="ml-4">
                                            @Html.ActionLink("Delete ", "DeleteComment", "Home", new { id = comment.Id }, new { @class = "text-danger" })
                                        </span>
                                    }
                                </p>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="col-lg-6 col-md-4">
                <hr />
                @Html.Partial("_Comment", new CommentHomeViewModel(), new ViewDataDictionary { { "id", Model.Id } })
            </div>
        </div>
        <br />
    </div>

</div>