@{
    ViewBag.Title = "Home Page";
}

@model List<CreateHomeViewModel>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Personal Blog</h1>
                    <span class="subheading">A Blog Website By Dilraj Singh.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            @foreach (CreateHomeViewModel post in Model)
            {
                <div class="post-preview">
                    <a href=@Url.Action("Edit","Post")>
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Body
                        </h3>
                    </a>
                    <p class="post-meta">
                        @post.Published, @post.Image
                    </p>
                    <img src="@post.Image" alt="@post.Title"/>
                </div>
                <hr>
            }
        </div>
    </div>
</div>